<div (contextmenu)="__elementSelectionService.select('631178163',$event)" [ngStyle]="__elementSelectionService.getStyles('631178163')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('888349032',$event)" [ngStyle]="__elementSelectionService.getStyles('888349032')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1764507358',$event)" [ngStyle]="__elementSelectionService.getStyles('1764507358')">
            <h2 jhiTranslate="settings.title" [translateValues]="{ username: account.login }" *ngIf="account" (contextmenu)="__elementSelectionService.select('1690882671',$event)" [ngStyle]="__elementSelectionService.getStyles('1690882671')">User settings for [<b (contextmenu)="__elementSelectionService.select('1799554728',$event)" [ngStyle]="__elementSelectionService.getStyles('1799554728')">{{ account.login }}</b>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success" (contextmenu)="__elementSelectionService.select('1175884489',$event)" [ngStyle]="__elementSelectionService.getStyles('1175884489')">
                <strong (contextmenu)="__elementSelectionService.select('1321508379',$event)" [ngStyle]="__elementSelectionService.getStyles('1321508379')">Settings saved!</strong>
            </div>

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1815967238',$event)" [ngStyle]="__elementSelectionService.getStyles('1815967238')"></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate (contextmenu)="__elementSelectionService.select('523783023',$event)" [ngStyle]="__elementSelectionService.getStyles('523783023')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('1841959579',$event)" [ngStyle]="__elementSelectionService.getStyles('1841959579')">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname" (contextmenu)="__elementSelectionService.select('118779263',$event)" [ngStyle]="__elementSelectionService.getStyles('118779263')">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{ 'settings.form.firstname.placeholder' | translate }}" formControlName="firstName" (contextmenu)="__elementSelectionService.select('2012893',$event)" [ngStyle]="__elementSelectionService.getStyles('2012893')">

                    <div *ngIf="settingsForm.get('firstName')!.invalid &#38;&#38; (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)" (contextmenu)="__elementSelectionService.select('1570825858',$event)" [ngStyle]="__elementSelectionService.getStyles('1570825858')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required" jhiTranslate="settings.messages.validate.firstname.required" (contextmenu)="__elementSelectionService.select('1623419239',$event)" [ngStyle]="__elementSelectionService.getStyles('1623419239')">
                            Your first name is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength" jhiTranslate="settings.messages.validate.firstname.minlength" (contextmenu)="__elementSelectionService.select('1150853013',$event)" [ngStyle]="__elementSelectionService.getStyles('1150853013')">
                            Your first name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength" (contextmenu)="__elementSelectionService.select('835023237',$event)" [ngStyle]="__elementSelectionService.getStyles('835023237')">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1804277193',$event)" [ngStyle]="__elementSelectionService.getStyles('1804277193')">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname" (contextmenu)="__elementSelectionService.select('284742030',$event)" [ngStyle]="__elementSelectionService.getStyles('284742030')">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{ 'settings.form.lastname.placeholder' | translate }}" formControlName="lastName" (contextmenu)="__elementSelectionService.select('278691891',$event)" [ngStyle]="__elementSelectionService.getStyles('278691891')">

                    <div *ngIf="settingsForm.get('lastName')!.invalid &#38;&#38; (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)" (contextmenu)="__elementSelectionService.select('181375740',$event)" [ngStyle]="__elementSelectionService.getStyles('181375740')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required" jhiTranslate="settings.messages.validate.lastname.required" (contextmenu)="__elementSelectionService.select('962194225',$event)" [ngStyle]="__elementSelectionService.getStyles('962194225')">
                            Your last name is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength" jhiTranslate="settings.messages.validate.lastname.minlength" (contextmenu)="__elementSelectionService.select('1878731061',$event)" [ngStyle]="__elementSelectionService.getStyles('1878731061')">
                            Your last name is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength" (contextmenu)="__elementSelectionService.select('462594529',$event)" [ngStyle]="__elementSelectionService.getStyles('462594529')">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1841076253',$event)" [ngStyle]="__elementSelectionService.getStyles('1841076253')">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label" (contextmenu)="__elementSelectionService.select('466282232',$event)" [ngStyle]="__elementSelectionService.getStyles('466282232')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}" formControlName="email" (contextmenu)="__elementSelectionService.select('768525877',$event)" [ngStyle]="__elementSelectionService.getStyles('768525877')">

                    <div *ngIf="settingsForm.get('email')!.invalid &#38;&#38; (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)" (contextmenu)="__elementSelectionService.select('593360836',$event)" [ngStyle]="__elementSelectionService.getStyles('593360836')">
                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required" jhiTranslate="global.messages.validate.email.required" (contextmenu)="__elementSelectionService.select('707329986',$event)" [ngStyle]="__elementSelectionService.getStyles('707329986')">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid" (contextmenu)="__elementSelectionService.select('1712922969',$event)" [ngStyle]="__elementSelectionService.getStyles('1712922969')">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength" jhiTranslate="global.messages.validate.email.minlength" (contextmenu)="__elementSelectionService.select('1035840705',$event)" [ngStyle]="__elementSelectionService.getStyles('1035840705')">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength" jhiTranslate="global.messages.validate.email.maxlength" (contextmenu)="__elementSelectionService.select('1905430373',$event)" [ngStyle]="__elementSelectionService.getStyles('1905430373')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" *ngIf="languages &#38;&#38; languages.length &#62; 0" (contextmenu)="__elementSelectionService.select('472496250',$event)" [ngStyle]="__elementSelectionService.getStyles('472496250')">
                    <label for="langKey" jhiTranslate="settings.form.language" (contextmenu)="__elementSelectionService.select('857030991',$event)" [ngStyle]="__elementSelectionService.getStyles('857030991')">Language</label>
                    <select class="form-control" id="langKey" name="langKey" formControlName="langKey" (contextmenu)="__elementSelectionService.select('1671313480',$event)" [ngStyle]="__elementSelectionService.getStyles('1671313480')">
                        <option *ngFor="let language of languages" [value]="language" (contextmenu)="__elementSelectionService.select('110263033',$event)" [ngStyle]="__elementSelectionService.getStyles('110263033')">{{ language | findLanguageFromKey }}</option>
                    </select>
                </div>

                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="settings.form.button" (contextmenu)="__elementSelectionService.select('1462364217',$event)" [ngStyle]="__elementSelectionService.getStyles('1462364217')">Save</button>
            </form>
        </div>
    </div>
</div>
