<jhi-page-ribbon (contextmenu)="__elementSelectionService.select('1561436962',$event)" [ngStyle]="__elementSelectionService.getStyles('1561436962')"(click)='__elementSelectionService.clear()'></jhi-page-ribbon>

<div (contextmenu)="__elementSelectionService.select('669201347',$event)" [ngStyle]="__elementSelectionService.getStyles('669201347')"(click)='__elementSelectionService.clear()'>
    <router-outlet name="navbar" (contextmenu)="__elementSelectionService.select('876623340',$event)" [ngStyle]="__elementSelectionService.getStyles('876623340')"></router-outlet>
</div>

<div class="container-fluid" (contextmenu)="__elementSelectionService.select('1517840659',$event)" [ngStyle]="__elementSelectionService.getStyles('1517840659')"(click)='__elementSelectionService.clear()'>
    <div class="card jh-card" (contextmenu)="__elementSelectionService.select('761918086',$event)" [ngStyle]="__elementSelectionService.getStyles('761918086')">
        <router-outlet (contextmenu)="__elementSelectionService.select('572325027',$event)" [ngStyle]="__elementSelectionService.getStyles('572325027')"></router-outlet>
    </div>

    <jhi-footer (contextmenu)="__elementSelectionService.select('163526496',$event)" [ngStyle]="__elementSelectionService.getStyles('163526496')"></jhi-footer>
</div>
