<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1352136000',$event)" [ngStyle]="__elementSelectionService.getStyles('1352136000')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('1613591602',$event)" [ngStyle]="__elementSelectionService.getStyles('1613591602')">
        <div *ngIf="cliente" (contextmenu)="__elementSelectionService.select('268411010',$event)" [ngStyle]="__elementSelectionService.getStyles('268411010')">
            <h2 (contextmenu)="__elementSelectionService.select('392196243',$event)" [ngStyle]="__elementSelectionService.getStyles('392196243')"><span jhiTranslate="abastosApp.cliente.detail.title" (contextmenu)="__elementSelectionService.select('1878681016',$event)" [ngStyle]="__elementSelectionService.getStyles('1878681016')">Cliente</span> {{ cliente.id }}</h2>

            <hr (contextmenu)="__elementSelectionService.select('1694306449',$event)" [ngStyle]="__elementSelectionService.getStyles('1694306449')">

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('385111868',$event)" [ngStyle]="__elementSelectionService.getStyles('385111868')"></jhi-alert-error>

            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('42224025',$event)" [ngStyle]="__elementSelectionService.getStyles('42224025')">
                <dt (contextmenu)="__elementSelectionService.select('1047477204',$event)" [ngStyle]="__elementSelectionService.getStyles('1047477204')"><span jhiTranslate="abastosApp.cliente.nombre" (contextmenu)="__elementSelectionService.select('849009936',$event)" [ngStyle]="__elementSelectionService.getStyles('849009936')">Nombre</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('115552712',$event)" [ngStyle]="__elementSelectionService.getStyles('115552712')">
                    <span (contextmenu)="__elementSelectionService.select('638281740',$event)" [ngStyle]="__elementSelectionService.getStyles('638281740')">{{ cliente.nombre }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1643992706',$event)" [ngStyle]="__elementSelectionService.getStyles('1643992706')"><span jhiTranslate="abastosApp.cliente.apellidoPaterno" (contextmenu)="__elementSelectionService.select('99313136',$event)" [ngStyle]="__elementSelectionService.getStyles('99313136')">Apellido Paterno</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('437873140',$event)" [ngStyle]="__elementSelectionService.getStyles('437873140')">
                    <span (contextmenu)="__elementSelectionService.select('1739532723',$event)" [ngStyle]="__elementSelectionService.getStyles('1739532723')">{{ cliente.apellidoPaterno }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1827486338',$event)" [ngStyle]="__elementSelectionService.getStyles('1827486338')"><span jhiTranslate="abastosApp.cliente.email" (contextmenu)="__elementSelectionService.select('855049738',$event)" [ngStyle]="__elementSelectionService.getStyles('855049738')">Email</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1668325225',$event)" [ngStyle]="__elementSelectionService.getStyles('1668325225')">
                    <span (contextmenu)="__elementSelectionService.select('2097991685',$event)" [ngStyle]="__elementSelectionService.getStyles('2097991685')">{{ cliente.email }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('2024852492',$event)" [ngStyle]="__elementSelectionService.getStyles('2024852492')"><span jhiTranslate="abastosApp.cliente.telefono" (contextmenu)="__elementSelectionService.select('1929200198',$event)" [ngStyle]="__elementSelectionService.getStyles('1929200198')">Telefono</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('353439911',$event)" [ngStyle]="__elementSelectionService.getStyles('353439911')">
                    <span (contextmenu)="__elementSelectionService.select('243689208',$event)" [ngStyle]="__elementSelectionService.getStyles('243689208')">{{ cliente.telefono }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1881676680',$event)" [ngStyle]="__elementSelectionService.getStyles('1881676680')"><span jhiTranslate="abastosApp.cliente.fechaAlta" (contextmenu)="__elementSelectionService.select('1751091385',$event)" [ngStyle]="__elementSelectionService.getStyles('1751091385')">Fecha Alta</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1968580925',$event)" [ngStyle]="__elementSelectionService.getStyles('1968580925')">
                    <span (contextmenu)="__elementSelectionService.select('1222258889',$event)" [ngStyle]="__elementSelectionService.getStyles('1222258889')">{{ cliente.fechaAlta }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('2015270401',$event)" [ngStyle]="__elementSelectionService.getStyles('2015270401')"><span jhiTranslate="abastosApp.cliente.fechaModificacion" (contextmenu)="__elementSelectionService.select('1813038075',$event)" [ngStyle]="__elementSelectionService.getStyles('1813038075')">Fecha Modificacion</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('684396677',$event)" [ngStyle]="__elementSelectionService.getStyles('684396677')">
                    <span (contextmenu)="__elementSelectionService.select('823009581',$event)" [ngStyle]="__elementSelectionService.getStyles('823009581')">{{ cliente.fechaModificacion }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1026299795',$event)" [ngStyle]="__elementSelectionService.getStyles('1026299795')"><span jhiTranslate="abastosApp.cliente.usuarioAlta" (contextmenu)="__elementSelectionService.select('1472795862',$event)" [ngStyle]="__elementSelectionService.getStyles('1472795862')">Usuario Alta</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('662071698',$event)" [ngStyle]="__elementSelectionService.getStyles('662071698')">
                    {{ cliente.usuarioAltaId }}
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1731277592',$event)" [ngStyle]="__elementSelectionService.getStyles('1731277592')"><span jhiTranslate="abastosApp.cliente.usuarioModificacion" (contextmenu)="__elementSelectionService.select('981217506',$event)" [ngStyle]="__elementSelectionService.getStyles('981217506')">Usuario Modificacion</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('621608159',$event)" [ngStyle]="__elementSelectionService.getStyles('621608159')">
                    {{ cliente.usuarioModificacionId }}
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('824326933',$event)" [ngStyle]="__elementSelectionService.getStyles('824326933')"><span jhiTranslate="abastosApp.cliente.estatus" (contextmenu)="__elementSelectionService.select('1608869850',$event)" [ngStyle]="__elementSelectionService.getStyles('1608869850')">Estatus</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('80066532',$event)" [ngStyle]="__elementSelectionService.getStyles('80066532')">
                    <div *ngIf="cliente.estatusId" (contextmenu)="__elementSelectionService.select('1181567399',$event)" [ngStyle]="__elementSelectionService.getStyles('1181567399')">
                        <a [routerLink]="['/estatus', cliente.estatusId, 'view']" (contextmenu)="__elementSelectionService.select('1723283692',$event)" [ngStyle]="__elementSelectionService.getStyles('1723283692')">{{ cliente.estatusId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('303581271',$event)" [ngStyle]="__elementSelectionService.getStyles('303581271')"><span jhiTranslate="abastosApp.cliente.empresa" (contextmenu)="__elementSelectionService.select('1003206503',$event)" [ngStyle]="__elementSelectionService.getStyles('1003206503')">Empresa</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('390586824',$event)" [ngStyle]="__elementSelectionService.getStyles('390586824')">
                    <div *ngIf="cliente.empresaId" (contextmenu)="__elementSelectionService.select('1214831508',$event)" [ngStyle]="__elementSelectionService.getStyles('1214831508')">
                        <a [routerLink]="['/empresa', cliente.empresaId, 'view']" (contextmenu)="__elementSelectionService.select('409102398',$event)" [ngStyle]="__elementSelectionService.getStyles('409102398')">{{ cliente.empresaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('2121565402',$event)" [ngStyle]="__elementSelectionService.getStyles('2121565402')">
                <fa-icon icon="arrow-left" (contextmenu)="__elementSelectionService.select('1452635005',$event)" [ngStyle]="__elementSelectionService.getStyles('1452635005')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('1487910464',$event)" [ngStyle]="__elementSelectionService.getStyles('1487910464')">Back</span>
            </button>

            <button type="button" [routerLink]="['/cliente', cliente.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1392973555',$event)" [ngStyle]="__elementSelectionService.getStyles('1392973555')">
                <fa-icon icon="pencil-alt" (contextmenu)="__elementSelectionService.select('151984669',$event)" [ngStyle]="__elementSelectionService.getStyles('151984669')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1962708698',$event)" [ngStyle]="__elementSelectionService.getStyles('1962708698')">Edit</span>
            </button>
        </div>
    </div>
</div>
