<form *ngIf="notificacion" name="deleteForm" (ngSubmit)="confirmDelete(notificacion?.id!)" (contextmenu)="__elementSelectionService.select('579218194',$event)" [ngStyle]="__elementSelectionService.getStyles('579218194')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('1927987584',$event)" [ngStyle]="__elementSelectionService.getStyles('1927987584')">
        <h4 class="modal-title" jhiTranslate="entity.delete.title" (contextmenu)="__elementSelectionService.select('1638382196',$event)" [ngStyle]="__elementSelectionService.getStyles('1638382196')">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()" (contextmenu)="__elementSelectionService.select('1424143749',$event)" [ngStyle]="__elementSelectionService.getStyles('1424143749')">&#215;</button>
    </div>

    <div class="modal-body" (contextmenu)="__elementSelectionService.select('1737577998',$event)" [ngStyle]="__elementSelectionService.getStyles('1737577998')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('1137933757',$event)" [ngStyle]="__elementSelectionService.getStyles('1137933757')"></jhi-alert-error>

        <p id="jhi-delete-notificacion-heading" jhiTranslate="abastosApp.notificacion.delete.question" [translateValues]="{ id: notificacion.id }" (contextmenu)="__elementSelectionService.select('536546217',$event)" [ngStyle]="__elementSelectionService.getStyles('536546217')">Are you sure you want to delete this Notificacion?</p>
    </div>

    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('1584712526',$event)" [ngStyle]="__elementSelectionService.getStyles('1584712526')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" (contextmenu)="__elementSelectionService.select('867747752',$event)" [ngStyle]="__elementSelectionService.getStyles('867747752')">
            <fa-icon icon="ban" (contextmenu)="__elementSelectionService.select('1809742583',$event)" [ngStyle]="__elementSelectionService.getStyles('1809742583')"></fa-icon>&#160;<span jhiTranslate="entity.action.cancel" (contextmenu)="__elementSelectionService.select('742359654',$event)" [ngStyle]="__elementSelectionService.getStyles('742359654')">Cancel</span>
        </button>

        <button id="jhi-confirm-delete-notificacion" type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('1424556564',$event)" [ngStyle]="__elementSelectionService.getStyles('1424556564')">
            <fa-icon icon="times" (contextmenu)="__elementSelectionService.select('555289254',$event)" [ngStyle]="__elementSelectionService.getStyles('555289254')"></fa-icon>&#160;<span jhiTranslate="entity.action.delete" (contextmenu)="__elementSelectionService.select('956876208',$event)" [ngStyle]="__elementSelectionService.getStyles('956876208')">Delete</span>
        </button>
    </div>
</form>
