<div (contextmenu)="__elementSelectionService.select('1389091353',$event)" [ngStyle]="__elementSelectionService.getStyles('1389091353')"(click)='__elementSelectionService.clear()'>
    <h2 (contextmenu)="__elementSelectionService.select('2042901599',$event)" [ngStyle]="__elementSelectionService.getStyles('2042901599')">
        <span id="metrics-page-heading" jhiTranslate="metrics.title" (contextmenu)="__elementSelectionService.select('1968382572',$event)" [ngStyle]="__elementSelectionService.getStyles('1968382572')">Application Metrics</span>

        <button class="btn btn-primary float-right" (click)="refresh()" (contextmenu)="__elementSelectionService.select('1971086349',$event)" [ngStyle]="__elementSelectionService.getStyles('1971086349')">
            <fa-icon icon="sync" (contextmenu)="__elementSelectionService.select('647772456',$event)" [ngStyle]="__elementSelectionService.getStyles('647772456')"></fa-icon> <span jhiTranslate="metrics.refresh.button" (contextmenu)="__elementSelectionService.select('2116196200',$event)" [ngStyle]="__elementSelectionService.getStyles('2116196200')">Refresh</span>
        </button>
    </h2>

    <h3 jhiTranslate="metrics.jvm.title" (contextmenu)="__elementSelectionService.select('311331458',$event)" [ngStyle]="__elementSelectionService.getStyles('311331458')">JVM Metrics</h3>

    <div class="row" *ngIf="metrics &#38;&#38; !updatingMetrics" (contextmenu)="__elementSelectionService.select('80009426',$event)" [ngStyle]="__elementSelectionService.getStyles('80009426')">
        <jhi-jvm-memory class="col-md-4" [updating]="updatingMetrics" [jvmMemoryMetrics]="metrics.jvm" (contextmenu)="__elementSelectionService.select('1129772059',$event)" [ngStyle]="__elementSelectionService.getStyles('1129772059')">
        </jhi-jvm-memory>

        <jhi-jvm-threads class="col-md-4" [threadData]="threads" (contextmenu)="__elementSelectionService.select('690332366',$event)" [ngStyle]="__elementSelectionService.getStyles('690332366')">
        </jhi-jvm-threads>

        <jhi-metrics-system class="col-md-4" [updating]="updatingMetrics" [systemMetrics]="metrics.processMetrics" (contextmenu)="__elementSelectionService.select('1335486450',$event)" [ngStyle]="__elementSelectionService.getStyles('1335486450')">
        </jhi-metrics-system>
    </div>

    <div *ngIf="metrics &#38;&#38; metricsKeyExists('garbageCollector')" (contextmenu)="__elementSelectionService.select('1840882843',$event)" [ngStyle]="__elementSelectionService.getStyles('1840882843')">
        <h3 jhiTranslate="metrics.jvm.gc.title" (contextmenu)="__elementSelectionService.select('423326491',$event)" [ngStyle]="__elementSelectionService.getStyles('423326491')">Garbage collector statistics</h3>

        <jhi-metrics-garbagecollector [updating]="updatingMetrics" [garbageCollectorMetrics]="metrics.garbageCollector" (contextmenu)="__elementSelectionService.select('487362848',$event)" [ngStyle]="__elementSelectionService.getStyles('487362848')">
        </jhi-metrics-garbagecollector>
    </div>

    <div class="well well-lg" *ngIf="updatingMetrics" jhiTranslate="metrics.updating" (contextmenu)="__elementSelectionService.select('489308932',$event)" [ngStyle]="__elementSelectionService.getStyles('489308932')">Updating...</div>

    <jhi-metrics-request *ngIf="metrics &#38;&#38; metricsKeyExists('http.server.requests')" [updating]="updatingMetrics" [requestMetrics]="metrics['http.server.requests']" (contextmenu)="__elementSelectionService.select('1024962886',$event)" [ngStyle]="__elementSelectionService.getStyles('1024962886')">
    </jhi-metrics-request>

    <jhi-metrics-endpoints-requests *ngIf="metrics &#38;&#38; metricsKeyExists('services')" [updating]="updatingMetrics" [endpointsRequestsMetrics]="metrics.services" (contextmenu)="__elementSelectionService.select('2138488404',$event)" [ngStyle]="__elementSelectionService.getStyles('2138488404')">
    </jhi-metrics-endpoints-requests>

    <jhi-metrics-cache *ngIf="metrics &#38;&#38; metricsKeyExists('cache')" [updating]="updatingMetrics" [cacheMetrics]="metrics.cache" (contextmenu)="__elementSelectionService.select('109753611',$event)" [ngStyle]="__elementSelectionService.getStyles('109753611')">
    </jhi-metrics-cache>

    <jhi-metrics-datasource *ngIf="metrics &#38;&#38; metricsKeyExistsAndObjectNotEmpty('databases')" [updating]="updatingMetrics" [datasourceMetrics]="metrics.databases" (contextmenu)="__elementSelectionService.select('1232598205',$event)" [ngStyle]="__elementSelectionService.getStyles('1232598205')">
    </jhi-metrics-datasource>
</div>
