<div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('345883686',$event)" [ngStyle]="__elementSelectionService.getStyles('345883686')"(click)='__elementSelectionService.clear()'>
    <div class="col-8" (contextmenu)="__elementSelectionService.select('963458640',$event)" [ngStyle]="__elementSelectionService.getStyles('963458640')">
        <div *ngIf="producto" (contextmenu)="__elementSelectionService.select('1135311279',$event)" [ngStyle]="__elementSelectionService.getStyles('1135311279')">
            <h2 (contextmenu)="__elementSelectionService.select('439777000',$event)" [ngStyle]="__elementSelectionService.getStyles('439777000')"><span jhiTranslate="abastosApp.producto.detail.title" (contextmenu)="__elementSelectionService.select('581121380',$event)" [ngStyle]="__elementSelectionService.getStyles('581121380')">Producto</span> {{ producto.id }}</h2>

            <hr (contextmenu)="__elementSelectionService.select('1915508950',$event)" [ngStyle]="__elementSelectionService.getStyles('1915508950')">

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('1783771453',$event)" [ngStyle]="__elementSelectionService.getStyles('1783771453')"></jhi-alert-error>

            <dl class="row-md jh-entity-details" (contextmenu)="__elementSelectionService.select('1140493225',$event)" [ngStyle]="__elementSelectionService.getStyles('1140493225')">
                <dt (contextmenu)="__elementSelectionService.select('2026479271',$event)" [ngStyle]="__elementSelectionService.getStyles('2026479271')"><span jhiTranslate="abastosApp.producto.nombre" (contextmenu)="__elementSelectionService.select('1748210560',$event)" [ngStyle]="__elementSelectionService.getStyles('1748210560')">Nombre</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('320052322',$event)" [ngStyle]="__elementSelectionService.getStyles('320052322')">
                    <span (contextmenu)="__elementSelectionService.select('69462634',$event)" [ngStyle]="__elementSelectionService.getStyles('69462634')">{{ producto.nombre }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('808153327',$event)" [ngStyle]="__elementSelectionService.getStyles('808153327')"><span jhiTranslate="abastosApp.producto.descripcion" (contextmenu)="__elementSelectionService.select('1148209913',$event)" [ngStyle]="__elementSelectionService.getStyles('1148209913')">Descripcion</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1267674777',$event)" [ngStyle]="__elementSelectionService.getStyles('1267674777')">
                    <span (contextmenu)="__elementSelectionService.select('1357184312',$event)" [ngStyle]="__elementSelectionService.getStyles('1357184312')">{{ producto.descripcion }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('992166851',$event)" [ngStyle]="__elementSelectionService.getStyles('992166851')"><span jhiTranslate="abastosApp.producto.caracteristicas" (contextmenu)="__elementSelectionService.select('2101539292',$event)" [ngStyle]="__elementSelectionService.getStyles('2101539292')">Caracteristicas</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1326183179',$event)" [ngStyle]="__elementSelectionService.getStyles('1326183179')">
                    <span (contextmenu)="__elementSelectionService.select('955370223',$event)" [ngStyle]="__elementSelectionService.getStyles('955370223')">{{ producto.caracteristicas }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('426621801',$event)" [ngStyle]="__elementSelectionService.getStyles('426621801')"><span jhiTranslate="abastosApp.producto.precioSinIva" (contextmenu)="__elementSelectionService.select('1934321033',$event)" [ngStyle]="__elementSelectionService.getStyles('1934321033')">Precio Sin Iva</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1674068800',$event)" [ngStyle]="__elementSelectionService.getStyles('1674068800')">
                    <span (contextmenu)="__elementSelectionService.select('1431849828',$event)" [ngStyle]="__elementSelectionService.getStyles('1431849828')">{{ producto.precioSinIva }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('563745877',$event)" [ngStyle]="__elementSelectionService.getStyles('563745877')"><span jhiTranslate="abastosApp.producto.precio" (contextmenu)="__elementSelectionService.select('156584642',$event)" [ngStyle]="__elementSelectionService.getStyles('156584642')">Precio</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('673635051',$event)" [ngStyle]="__elementSelectionService.getStyles('673635051')">
                    <span (contextmenu)="__elementSelectionService.select('1060284384',$event)" [ngStyle]="__elementSelectionService.getStyles('1060284384')">{{ producto.precio }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1316697327',$event)" [ngStyle]="__elementSelectionService.getStyles('1316697327')"><span jhiTranslate="abastosApp.producto.fechaAlta" (contextmenu)="__elementSelectionService.select('1843098808',$event)" [ngStyle]="__elementSelectionService.getStyles('1843098808')">Fecha Alta</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1941178986',$event)" [ngStyle]="__elementSelectionService.getStyles('1941178986')">
                    <span (contextmenu)="__elementSelectionService.select('1502854747',$event)" [ngStyle]="__elementSelectionService.getStyles('1502854747')">{{ producto.fechaAlta }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1314403786',$event)" [ngStyle]="__elementSelectionService.getStyles('1314403786')"><span jhiTranslate="abastosApp.producto.fechaModificacion" (contextmenu)="__elementSelectionService.select('2022761997',$event)" [ngStyle]="__elementSelectionService.getStyles('2022761997')">Fecha Modificacion</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('723801135',$event)" [ngStyle]="__elementSelectionService.getStyles('723801135')">
                    <span (contextmenu)="__elementSelectionService.select('1862358646',$event)" [ngStyle]="__elementSelectionService.getStyles('1862358646')">{{ producto.fechaModificacion }}</span>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1626916921',$event)" [ngStyle]="__elementSelectionService.getStyles('1626916921')"><span jhiTranslate="abastosApp.producto.adjunto" (contextmenu)="__elementSelectionService.select('531098277',$event)" [ngStyle]="__elementSelectionService.getStyles('531098277')">Adjunto</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('371937362',$event)" [ngStyle]="__elementSelectionService.getStyles('371937362')">
                    <div *ngIf="producto.adjuntoId" (contextmenu)="__elementSelectionService.select('1945900551',$event)" [ngStyle]="__elementSelectionService.getStyles('1945900551')">
                        <a [routerLink]="['/adjunto', producto.adjuntoId, 'view']" (contextmenu)="__elementSelectionService.select('1440985409',$event)" [ngStyle]="__elementSelectionService.getStyles('1440985409')">{{ producto.adjuntoId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1974569882',$event)" [ngStyle]="__elementSelectionService.getStyles('1974569882')"><span jhiTranslate="abastosApp.producto.usuarioAlta" (contextmenu)="__elementSelectionService.select('970259646',$event)" [ngStyle]="__elementSelectionService.getStyles('970259646')">Usuario Alta</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('713791917',$event)" [ngStyle]="__elementSelectionService.getStyles('713791917')">
                    {{ producto.usuarioAltaId }}
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1655327748',$event)" [ngStyle]="__elementSelectionService.getStyles('1655327748')"><span jhiTranslate="abastosApp.producto.usuarioModificacion" (contextmenu)="__elementSelectionService.select('457111184',$event)" [ngStyle]="__elementSelectionService.getStyles('457111184')">Usuario Modificacion</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('93440069',$event)" [ngStyle]="__elementSelectionService.getStyles('93440069')">
                    {{ producto.usuarioModificacionId }}
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1939959723',$event)" [ngStyle]="__elementSelectionService.getStyles('1939959723')"><span jhiTranslate="abastosApp.producto.proveedor" (contextmenu)="__elementSelectionService.select('1130092471',$event)" [ngStyle]="__elementSelectionService.getStyles('1130092471')">Proveedor</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('792539962',$event)" [ngStyle]="__elementSelectionService.getStyles('792539962')">
                    <div *ngIf="producto.proveedorId" (contextmenu)="__elementSelectionService.select('618988920',$event)" [ngStyle]="__elementSelectionService.getStyles('618988920')">
                        <a [routerLink]="['/proveedor', producto.proveedorId, 'view']" (contextmenu)="__elementSelectionService.select('1556212344',$event)" [ngStyle]="__elementSelectionService.getStyles('1556212344')">{{ producto.proveedorId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1094350904',$event)" [ngStyle]="__elementSelectionService.getStyles('1094350904')"><span jhiTranslate="abastosApp.producto.tipoArticulo" (contextmenu)="__elementSelectionService.select('123217862',$event)" [ngStyle]="__elementSelectionService.getStyles('123217862')">Tipo Articulo</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('194653328',$event)" [ngStyle]="__elementSelectionService.getStyles('194653328')">
                    <div *ngIf="producto.tipoArticuloId" (contextmenu)="__elementSelectionService.select('1490785713',$event)" [ngStyle]="__elementSelectionService.getStyles('1490785713')">
                        <a [routerLink]="['/tipo-articulo', producto.tipoArticuloId, 'view']" (contextmenu)="__elementSelectionService.select('1244843306',$event)" [ngStyle]="__elementSelectionService.getStyles('1244843306')">{{ producto.tipoArticuloId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('210937277',$event)" [ngStyle]="__elementSelectionService.getStyles('210937277')"><span jhiTranslate="abastosApp.producto.categoria" (contextmenu)="__elementSelectionService.select('1454831123',$event)" [ngStyle]="__elementSelectionService.getStyles('1454831123')">Categoria</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('1388611433',$event)" [ngStyle]="__elementSelectionService.getStyles('1388611433')">
                    <div *ngIf="producto.categoriaId" (contextmenu)="__elementSelectionService.select('247683974',$event)" [ngStyle]="__elementSelectionService.getStyles('247683974')">
                        <a [routerLink]="['/categoria', producto.categoriaId, 'view']" (contextmenu)="__elementSelectionService.select('400930990',$event)" [ngStyle]="__elementSelectionService.getStyles('400930990')">{{ producto.categoriaId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1988284975',$event)" [ngStyle]="__elementSelectionService.getStyles('1988284975')"><span jhiTranslate="abastosApp.producto.seccion" (contextmenu)="__elementSelectionService.select('9170009',$event)" [ngStyle]="__elementSelectionService.getStyles('9170009')">Seccion</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('335579301',$event)" [ngStyle]="__elementSelectionService.getStyles('335579301')">
                    <div *ngIf="producto.seccionId" (contextmenu)="__elementSelectionService.select('773481027',$event)" [ngStyle]="__elementSelectionService.getStyles('773481027')">
                        <a [routerLink]="['/seccion', producto.seccionId, 'view']" (contextmenu)="__elementSelectionService.select('1315560965',$event)" [ngStyle]="__elementSelectionService.getStyles('1315560965')">{{ producto.seccionId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('291445429',$event)" [ngStyle]="__elementSelectionService.getStyles('291445429')"><span jhiTranslate="abastosApp.producto.estatus" (contextmenu)="__elementSelectionService.select('17493403',$event)" [ngStyle]="__elementSelectionService.getStyles('17493403')">Estatus</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('2097123203',$event)" [ngStyle]="__elementSelectionService.getStyles('2097123203')">
                    <div *ngIf="producto.estatusId" (contextmenu)="__elementSelectionService.select('2087120879',$event)" [ngStyle]="__elementSelectionService.getStyles('2087120879')">
                        <a [routerLink]="['/estatus', producto.estatusId, 'view']" (contextmenu)="__elementSelectionService.select('361093220',$event)" [ngStyle]="__elementSelectionService.getStyles('361093220')">{{ producto.estatusId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('1127582074',$event)" [ngStyle]="__elementSelectionService.getStyles('1127582074')"><span jhiTranslate="abastosApp.producto.unidadMedida" (contextmenu)="__elementSelectionService.select('1127646472',$event)" [ngStyle]="__elementSelectionService.getStyles('1127646472')">Unidad Medida</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('140772118',$event)" [ngStyle]="__elementSelectionService.getStyles('140772118')">
                    <div *ngIf="producto.unidadMedidaId" (contextmenu)="__elementSelectionService.select('857324678',$event)" [ngStyle]="__elementSelectionService.getStyles('857324678')">
                        <a [routerLink]="['/unidad-medida', producto.unidadMedidaId, 'view']" (contextmenu)="__elementSelectionService.select('1544068550',$event)" [ngStyle]="__elementSelectionService.getStyles('1544068550')">{{ producto.unidadMedidaId }}</a>
                    </div>
                </dd>
                <dt (contextmenu)="__elementSelectionService.select('736185738',$event)" [ngStyle]="__elementSelectionService.getStyles('736185738')"><span jhiTranslate="abastosApp.producto.empresa" (contextmenu)="__elementSelectionService.select('62232403',$event)" [ngStyle]="__elementSelectionService.getStyles('62232403')">Empresa</span></dt>
                <dd (contextmenu)="__elementSelectionService.select('2109142575',$event)" [ngStyle]="__elementSelectionService.getStyles('2109142575')">
                    <div *ngIf="producto.empresaId" (contextmenu)="__elementSelectionService.select('1699263218',$event)" [ngStyle]="__elementSelectionService.getStyles('1699263218')">
                        <a [routerLink]="['/empresa', producto.empresaId, 'view']" (contextmenu)="__elementSelectionService.select('1147416268',$event)" [ngStyle]="__elementSelectionService.getStyles('1147416268')">{{ producto.empresaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info" (contextmenu)="__elementSelectionService.select('1799632412',$event)" [ngStyle]="__elementSelectionService.getStyles('1799632412')">
                <fa-icon icon="arrow-left" (contextmenu)="__elementSelectionService.select('562668245',$event)" [ngStyle]="__elementSelectionService.getStyles('562668245')"></fa-icon>&#160;<span jhiTranslate="entity.action.back" (contextmenu)="__elementSelectionService.select('24533812',$event)" [ngStyle]="__elementSelectionService.getStyles('24533812')">Back</span>
            </button>

            <button type="button" [routerLink]="['/producto', producto.id, 'edit']" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('1686177688',$event)" [ngStyle]="__elementSelectionService.getStyles('1686177688')">
                <fa-icon icon="pencil-alt" (contextmenu)="__elementSelectionService.select('784284098',$event)" [ngStyle]="__elementSelectionService.getStyles('784284098')"></fa-icon>&#160;<span jhiTranslate="entity.action.edit" (contextmenu)="__elementSelectionService.select('1112320458',$event)" [ngStyle]="__elementSelectionService.getStyles('1112320458')">Edit</span>
            </button>
        </div>
    </div>
</div>
